:root {
    background-color: black;
    color: white;
}

h3 {
    background-color: black;
    color: rgb(0, 224, 11);
}

h4 {
    background-color: black;
    color: rgb(21, 182, 0);
}

.card-header{
    
    background-color: gray;
    color: black;
}

.card-body{

    background-color: white;
    color: black;
}

.card-text{
    color: black;
}
