<!DOCTYPE html>
<html lang="en">

{% load static %}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiveSpaceSocial</title>

    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<center>
    <header class="header">{% include 'navbar.html' %}</header>
</center>

<body>
    {% block content %}
    {% endblock content %}
</body>
<footer>
    <center>
        <small>
            <h6>created by: <b><u>John</u></b></h6>
        </small>
    </center>
</footer>

</html>