<!DOCTYPE html>
<html lang="en">
{% include 'navbar.html' %}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#️⃣Twitter</title>
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}"> -->
    <!-- <img class="tcb" src="media\Twitter-clone.png" alt="twitterclone"> -->
</head>



<body>
    {% if user.is_authenticated %}
    <h2></h2>
   
    {{notes}}
    <p><button><a href="/addtweet/">Say something</a></button></p>
    {% endif %}
    <br>
    {% block content %}
    
    {% endblock content %}
</body>

</html>





