<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiveSpaceSocial</title>
</head>
<style>
    header {
        background-color: blueviolet;
        border: 10px double white;
        max-width: fit-content;
    }

    a {
        color: black;
    }
</style>
<center>
    <header class="header">{% include 'navbar.html' %}</header>
</center>

<body>
    {% block content %}
    {% endblock content %}
</body>
<footer>
    <center>
        <small>
            <h6>created by: <b><u>RockWaveRadio</u></b></h6>
        </small>
    </center>
</footer>

</html>