<!DOCTYPE html>
<html lang="en">
{% include 'navbar.html' %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#️⃣TWITTER</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <br><br><br><br><br>
    <h2 align="center" style="color: blue;">Twitter Clone</h2>
    <br><br>
    <div class="container">
        <h4>Logged Out!!</h4>
        <a href="{% url 'login' %}">Login</a>
    </div>
</body>

</html>