<!DOCTYPE html>
<html lang="en">
{% include 'navbar.html' %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#️⃣TWITTER</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <br><br><br><br><br>
    <h2 align="center" style="color: blue;">Twitter Clone</h2>
    <br><br>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Login</legend>
                {{form.as_p}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>

            <a href='/login/'>
                <p>Login, I already have an account.</p>
            </a>
        </form>
    </div>
    {% if messages %}
    {% for message in messages %}
    {{message}}
    {% endfor %}
    {% endif %}
</body>

</html>